@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
body {
  font: {
    family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 1.6rem;
  }
  line-height: 1.5;
  overflow-x: hidden;
}

//mixin
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin banner {
  width: 100%;
  height: 35rem;
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}
@mixin a-prop {
  text-decoration: none;
  color: black;
}

@mixin li-prop {
  list-style: none;
  color: darken($color: gray, $amount: 5);
}

@mixin i-prop {
  padding-right: 5px;
  color: $primary-color;
}

@mixin title {
  font-weight: 500;
  font-size: 25px;
  color: #4c4c4c;
  margin-bottom: 1rem;
}

@mixin btn {
  background: $primary-color;
  font-size: 1.6rem;
  border: none;
  width: 9rem;
  transition: 0.5s;
  border-radius: 1.5rem;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    width: 11rem;
  }
}

@mixin about-background {
  background-image : linear-gradient(rgba(0,0,5,0.1), rgba(0,0,5,0.1)), url('./images/img.jpg');
  background: {
    position: center center;
    size: cover;
  }
  text-align: center;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1.5;
  line-height: 1.5;
  font-size: 1.8rem;

}

//variable
$font-small: 1.6rem;
$font-secondary: 1.8rem;
$font-button: 2rem;
$myWhite: #fff;
$myDark: #444;
$myBlack: #000;
$myBlue : #d9edf7;
$primary-color: #8b6b43;
$secondary-color: #b9b9b9;
$opacity: 0.9;

@mixin mediaSm{
  @media screen and (max-width: 500px){
      @content;
  }
}

.font-small{
  font-size: $font-small;
}
.font-secondary{
  font-size: $font-secondary;
}
.font-btn{
  font-size: $font-button;
}
// .mt-6{
//   margin-top: 5.4rem !important;
// }
// ::-webkit-input-placeholder {
//   color: red;
// }
// :-moz-placeholder {
//   color: red;
// }
// ::-moz-placeholder {
//   color: red;
// }
// :-ms-input-placeholder {
//   color: red;
// }

//custom carousel
// .carousel {
//   display: flex;
//   flex-direction: column-reverse;

//   .carousel-control-prev, .carousel-control-next {
//     display: none;
//   }

//   &-indicators {
//     position: static;
//     margin-bottom:0;

//     li {
//       width: 14px;
//       height: 14px;
//       border: 0;
//       border-radius: 50%;
//       margin: 2px 10px;
//       background-color: $myWhite;

//       &.active {
//         background-color: $myWhite;
//       }
//     }
//   }

//   .animated {
//     animation-duration: 2s;
//     animation-fill-mode: both;
//     animation-name: fadeIn;
//   }
//   @keyframes fadeIn {
//     0% {opacity: 0;}
//     100% {opacity: 1;}
//   }
// }