@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font: {
        family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        size: 1.6rem;
    }
    line-height: 1.5;
}

//mixin
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}
