@import './../../App.scss';

.main-menu {
  font-family: monospace;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 6px 0 #ccc;
}

.navbar-item {
  margin: 0 auto;
  a {
    color: $secondary-color;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    &:hover {
      color: $primary-color;
    }
    i {
      font-size: 3rem;
      padding-left: 5rem;
      padding-right: 1rem;
      color: rgba($color: $secondary-color, $alpha: 0.6);
      &:hover {
        color: $primary-color;
      }
    }

  }
  .navbar-drop{
    position: absolute ;
    left: 6rem ;    
  }
  .navbar-drop::before{
    content: "";
    position: absolute;
    top: -1rem;
    left: 70%;
    width:0px;
    height:0px;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    border-bottom:1rem solid #eee;

  }


}

@media only screen and (max-width: 1200px) {
  .navbar-item {
    a{
      i{
        padding-left: 0;
      }
    }
  }  
  .navbar-drop{
    position: absolute !important;
    left: 0 !important;    
  }
}