@import './../../App.scss';

.main-menu {
  font-family: monospace;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 6px 0 #ccc;

  a {
    color: $secondary-color;
    font-size: 1.8rem;
    padding: 0;
    &:hover {
      color: $primary-color;
    }
    i {
      font-size: 2rem;
      margin-right: 1.5rem;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
