@import './../../App.scss';

.login {
  padding: 2rem;
  &__images{
    width: 50%;

  }
  &-content {
    text-align: center;
    width: 40rem;
    margin: 0 auto;
    padding: 5rem;
    background: $myWhite;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    .login-title {
      h1 {
        color: $primary-color;
        font-size: 4rem;
      }
      p {
        color: rgba($color: black, $alpha: 0.5);
        font-size: 2rem;
      }
    }
    input {
      
      width: 100%;
    }
    .btn-submit {
      @include button;
      font-size: 1.9rem;
    }
  }
}
@include mediaMd{
  .login__images{
    display: none;
  }
}
@include mediaSm{
  .login{
    width: 100%;
    &-content{
      width: 100%;
    }
  }
}