
@import './../../App.scss';

$bg-booknow : url('https://images.pexels.com/photos/60217/pexels-photo-60217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');


.Booknow{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    &__banner{
        background: $bg-booknow ;
        @include banner;
        @include flex;
        &-context{
            position: relative;            
            color: white;            
            font: {
                family: 'Yanone Kaffeesatz', sans-serif;
                size: 60px;
                weight: 900;
            }
            &::after{
                content: '';
                position: absolute;
                top: -15%;
                left: 20%;
                width: 60%;
                height: 5px;
                background-color: white;
            }
        }
    }
    &__container{
        &-form{
            border: 0.5px solid #7B68EE;
            border-radius: 4px; 
            .form-title{
                background: $myBlue;
                padding: 0  15px;
                margin: 0 -15px;
                border-radius: 4px;
                font-size: 2rem;
            }           
        }
        
    }
}    