@import './../../App.scss';


//variable
$bg-Tour : url(./../../images/Tour.jpg);
$bg-Tour-container: #e8e1d9;


.Tour{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    &__banner{
        background: $bg-Tour ;
        @include banner;
        @include flex;
        &-context{
            position: relative;            
            color: white;            
            font: {
                family: 'Yanone Kaffeesatz', sans-serif;
                size: 60px;
                weight: 900;
            }
            &::after{
                content: '';
                position: absolute;
                top: -15%;
                left: 20%;
                width: 60%;
                height: 5px;
                background-color: white;
            }
        }
    }
    &__container{
        background: $bg-Tour-container;
        margin: 0;
        .card-title{
            font: {
                weight: 700;
                size: 2.2rem
            }
            letter-spacing: 0.15rem;
        
        }
        .card-link{
            font: {
                weight: 500;
                size: 1.8rem;
            }
        
        }
    }
    
}