@import './../../App.scss';

.slide-bar {
  img {
    height: 500px;
  }
}

.check {
  width: 100%;
  padding: 1.5rem;
  position: relative;
  top: -100px;
  background: rgba($color: $secondary-color, $alpha: $opacity);
  .check-content {
    padding: 1px;
    .check-title {
      font-size: 1.6rem;
      color: $primary-color;
    }
    .btn-success {
      @include btn;
    }
    input {
      font-size: 1.6rem;
    }
    select {
      font-size: 1.6rem;
    }
  }
}

hr {
  width: 15rem;
  color: $primary-color;
}

.about {
  position: relative;
  .container {
    margin-top: 0;
    padding-top: 0;
    .about-benefit {
      ul {
        li {
          @include li-prop;
          i {
            @include i-prop;
          }
        }
      }
    }
    .penefit-title {
      @include title;
    }
    .about-benefit {
      margin-top: 20px;
    }
  }
  .about-image {
    width: 100%;
    height: 600px;
    @include about-background;
    position: relative;
    z-index: -2;
    &::after{
      content   : "";
      position  : absolute;
      top       : 0%;
      bottom    : 0%;
      left      : 0;
      right     : 0;
      opacity   : .3;
      z-index   : -10;
      background: linear-gradient(to right, #7393b8 0%,#4f6462 0%, #427280 100%);
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba($color: $primary-color, $alpha: 0.15);
    }

    .content {
      padding: 10% 10%;
      z-index: 1;
      .welcome {
        color: white;
        font-size: 20pt;
        font-weight: 500;
      }
      p {
        line-height: 20px;
        letter-spacing: 1px;
        font-weight: 200;
        color: white;
      }
    }
  }
}

.about-room {
  padding: 1rem;
  .container {
    margin-top: 3rem;
    .room-title {
      @include title;
    }
    .detail {
      margin-top: 3rem;
      .detail-text {
        color: $secondary-color;
      }
      .card-img-top{
        width: 100%;
        height: 30rem;
      }
      .btn-success {
        @include btn;
      }
    }
  }
}
//feedback scss
.feedback{
  width: 100%;
  
  background: #f9f9f9;
  &__title{
    text-align: center;    
    h5{
      padding-top: 8rem;
      padding-bottom: 2.5rem;
      color: #e0ab77;
      font-weight: 700;
      letter-spacing: 0.2rem;  
      font-family: 'Lora', serif;    
    }
    h2{
      font-size: 4.4rem;
      color:#19191a;
      font-family: 'Lora', serif;
      margin-bottom: 4rem;
    }
    
  }
  &__text{
    font-size: 2rem;
    color:#6b6b6b;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
  }
  &__author{
    margin-top: 6rem;
    font-size: 2.5rem;
    color:#6b6b6b;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    margin-bottom: 3rem;
    i{
      color: #f5b917;
      font-size: 2rem;
    }
  }
  &__img{
    width: 100%;
    @include flex;
    margin-bottom: 4rem;
    
  }
}
