@import './../../App.scss';



.rooms{
    padding-bottom: 5rem;
    &__title{
        text-align: center;
        font-size: 4.4rem;
        color:#19191a;
        font-family: 'Lora', serif;
        margin-top: 5rem;
    }
    &__menu{
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: 8rem;
        font: {
            family: 'Lora', serif;
            size: 1.8rem;
        }
        span:nth-child(1){
            margin-right: 1rem;
        }
        i{
            font-size: 1.5rem;
            color: #aaaab3;
        }
        &-home{
            margin-left: 1rem;
            color: #aaaab3;
        }
        
        
    }
    .card{
        .card-body{
            padding: 2rem 3rem 3rem !important;
        }
        &-title{
            font-size: 2.4rem !important;
            font-family: 'Lora', serif !important;
            margin-top: 1rem;
            font-weight: 200;
        }
        &-price{
            font-size: 3rem;
            color:#dfa974;
            font-weight: 700;
            margin-top: 2rem;
            margin-bottom: 2rem;
            span{                
                font: {
                    family: "Cabin", sans-serif;
                    size: 1.4rem;
                    weight: 400;
                }
                color: #19191a;
            }
        }
        table{
            margin-bottom: 2rem;
            td.r-0{
                width: 12.5rem;
            }
            td{
                font-size: 1.6rem;
                color: #707079;
                line-height: 3.6rem;
                font-weight: 500;
            }
        }
        .card-details{
            font-size: 1.36rem;
            font-weight: 700;
            letter-spacing: 0.2rem;
            color: black;
            padding: 0.4rem 0;
            border-bottom: 2px solid #dfa974;
            
        }
    }
    .pagination{
        @include flex;
        margin-top: 5rem;
    }
}