@import './../../App.scss';




.customermnm{
    padding-bottom: 8rem;
    &__title{
        text-align: center;
        font-size: 4.4rem;
        color:#19191a;
        font-family: 'Lora', serif;
        margin-top: 6rem;
    }
    &__menu{
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: 8rem;
        font: {
            family: 'Lora', serif;
            size: 1.8rem;
        }
        span:nth-child(1){
            margin-right: 1rem;
        }
        i{
            font-size: 1.5rem;
            color: #aaaab3;
        }
        &-home{
            margin-left: 1rem;
            color: #aaaab3;
        }
        
        
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 3rem;
        &-total{
            font-size: 2.5rem;
            color:#19191a;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
    }
    .customer-td{
        font-family: 'Spicy Rice', cursive;
        color:  #aaaab3;
    }
    .customer-th{
        
        font: {
            family: 'Yanone Kaffeesatz', sans-serif;
            size: 2rem;
        }
    }
}