@import './../../App.scss';

//variable
$bg-Restaurant: url('https://images.pexels.com/photos/9315/menu-restaurant-france-eating-9315.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');


.Restaurant{
    &__banner{
        @include flex;
        @include banner;
        background: $bg-Restaurant;
        &-context{
            position: relative;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 60px;
            color: white;
            font-weight: 900;
            letter-spacing: 1.5;
            font: {
                family: 'Yanone Kaffeesatz', sans-serif;
                size: 6rem;
                weight: 900;
            }
            &::after{
                content: '';
                position: absolute;
                top: -15%;
                left: 30%;
                width: 30%;
                height: 0.5rem;
                background-color: $myWhite;
            }
        }
    }
    &__container{
        font-family: 'Montserrat', sans-serif;
        h2{            
            letter-spacing: 0.2rem;            
            font: {
                size: 3.5rem;
                weight: 700;
                family: 'Yanone Kaffeesatz', sans-serif;                
            }
        }
    }
}